html {
  font-family: sans-serif;
}

p {
  background-color: yellow;
}
p.stdAbsatz {
  background-color: blue;
  color: white;
}

#container p.stdAbsatz {
  background-color: green;
  color: orange;
}
